# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Github\SoftUni\Java_DB\Spring Data\02_Database access with JDBC\Exercise\04codefirst\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
